includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - database

    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        -
            identifier: trait.unused
